.qrPage{
    visibility: hidden;
    display: none;
}
.login-form{
    width: 500px;
    height: 200px;
    color:orange;
    border: 1px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}
.login-form form label{
    color: orangered;
    font-size: 14px;
}
.login-form form input{
    border:1px solid orange;
    outline: none;
}
.login-form form input:focus{
    outline: orange;
}
.login-form form button{
    width: 120px;
    height: 30px;
    border: none;
    background-color: orangered;
    color:white;
    font-size: 18px;
    display:block;
    margin: 0 auto;
}